<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Uom Data Details</title>
</head>
<body>
	<div th:insert="fragments/commonui :: userhead"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h2>GRN Data Details</h2>
			</div>
			<!-- header end -->
			<div class="card-body">
				<div class="row form-group">
					<div class="col-md-12 panel">
						<a th:href="@{/grn/excel}" class="btn btn-warning btn-lg "><i
							class="fas fa-file-excel"></i></a> <a th:href="@{/grn/pdf}"
							class="btn btn-primary btn-lg "><i class="fas fa-file-pdf"></i></a>
					</div>
				</div>
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th>ID</th>
							<th>CODE</th>
							<th>TYPE</th>
							<th>ORDER CODE</th>
							<th colspan="6">OPERATIONS</th>
						</tr>
					</thead>
					<tbody>
						<!-- page.getContent() -->
						<tr th:each="ob:${list}">
							<td th:text="${ob.id}"></td>
							<td th:text="${ob.grnCode}"></td>
							<td th:text="${ob.grnType}"></td>
							<td th:text="${ob.po.orderCode}"></td>
							<td><a th:href="@{/grn/edit/{id}(id=${ob.id})}"
								class="btn btn-success"><i class="far fa-edit"></i></a></td>
							<td><a th:href="@{/grn/view/{id}(id=${ob.id})}"
								class="btn btn-info"><i class="far fa-eye"></i></a></td>
							<td><a th:href="@{/grn/delete/{id}(id=${ob.id})}"
								class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>
							<td><a th:href="@{/grn/excel/{id}(id=${ob.id})}"
								class="btn btn-warning"><i class="fas fa-file-excel"></i></a></td>
							<td><a th:href="@{/grn/pdf/{id}(id=${ob.id})}"
								class="btn btn-primary"><i class="fas fa-file-pdf"></i></a></td>
							<td><a th:href="@{/grn/viewDtls/{id}(id=${ob.id})}"
								class="btn btn-primary">VEIW PARTS</a></td>
															
						</tr>
					</tbody>
				</table>

			</div>
			<!-- body end -->
			<div th:if="${message!=null}">
				<div class="card-footer bg-info text-white text-center">
					<b><span th:text="${message}"></span></b>
				</div>
				<!-- footer end -->
			</div>
			<!-- condition end -->
		</div>
		
		<!-- card end -->
	</div>
	<!-- container end -->
</body>
</html>