<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Purchase Order Charts</title>
</head>
<body>
<div th:insert="fragments/commonui :: userhead"></div>
 <div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container">
		<div class="card">			
			<div class="card-body text-center bg-light">
				<img alt="image not found" th:src="@{/purchaseorderA.jpg}">
				<img alt="image not found" th:src="@{/purchaseorderB.jpg}">
			</div>
			<!-- body end -->			
		</div>
		<!-- card end -->
	</div>
	<!-- container end -->
</body>
</html>